.ui.main.text.container {
    margin-top: 40px
}

.ui.container{
    margin-left: 0!important;
}

.ui.option.bar{
   background-color: rgb(20, 3, 66);
   margin-top: 2cm;
   height: 1.5cm;
}

.ui.menu{
    background: #0E6EB8!important;
}

i.large.icon{
    color: white;
    margin-top: 8px;
    margin-right: 10px;
}

.App
{
    overflow: auto;
}
